h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: aliceblue;
}
p::selection{
    color: white;
    background-color: green;
}

ul li::marker{
    content: "✱ ";
}
ul li::before{
    content: "> ";
}
li::after{
    content: " <";
}
